.box1{
  width: 95%;
  height: 610px;
  margin: auto;
}
.box1 img{
      width: 100%;
      height: 600px;
      margin: auto;
  }
  .box2{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 80%;
    height: 500px;
    margin: auto;
  }
  .box2-1{
    /* border: 1px solid black; */
    width: 33%;
  }
  .box2-1:hover{
    width: 40%;
    height: 620px;
  }
  .box2-1 img{
    width: 100%;
    height: 400px;
  }
  .box2-h1{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box2-h3{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box2-h3:hover{
    text-decoration: underline;
  }
  .heading1 h1{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box3{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 80%;
    height: 550px;
    margin: auto;
  }
  .box3-1{
    width: 25%;
    height: 550px;
    /* border: 1px solid black; */
  }
  .box3-1 img{
    width: 100%;
    height: 400px;
  }
  .box3-h1{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box3-h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box4{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 80%;
    height: 400px;
    background-color: #f7f8fa;
    margin-left: 20px;
    margin-top: 20px;
    margin: auto;
  }
  .box4-1 img{
    width: 100%;
    height:400px;
    /* border: 1px solid black; */ 
  }
  .box4-2 {
    width: 100%;
    height:400px;
    /* border: 1px solid black; */
  }
  .box4-h1{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box4-p{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
    text-align: center;
    margin-right: 100px;
  }
  .box5{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
  }
  .box5-1{
    /* border: 1px solid black; */
    width: 30%;
    height: 300px;
  }
  .box5-h1{
    margin: auto;
    font-size: 25px;
    margin-top: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box5-h3{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .heading3{
    display: flex;
    /* border: 1px solid black; */
    width: 80%;
    height: 50px;
    margin: auto;
  }
  .box6-h1{
    
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #343e46;
  }
  .box6-img{
    margin-left: 800px;
    width: 50px;
    height: 50px;
  }
  .box6-img1{
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  .box7{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 1px solid black; */
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
  }
  .box7-1 img{
    width: 100%;
    height: 250px;
  }
  .box7-1:hover{
    width: 20%;
  }
  #foot{
    margin: 0px;
    margin-top: 20px;
  }
  