.container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 800px;
    /* border: 1px solid black; */
    gap: 30px;
    margin: auto;
}
.box1{
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
}
#image img{
    width: 250px;
    height: 80px;
}
#image2{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
#image2 img{
    width: 200px;
    height: 50px;
}
#text{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#text h4{
    color: #4c5053;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#form1{
    font-size: 20px;
}
#form1 form{
    font-size: 20px;
}
#form2 h2{
    color: #4c5053;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
    font-size: 20px;
}
#mainform{
    font-size: 25px;
}
#mainform form{
    font-size: 20px;
}
.col-12 a{
    margin-left: 20px;
}
.box2{
    width: 100%;
    height: 700px;
    /* border: 1px solid black; */
    background-color: #f4f3f7;
    margin-top: 100px;
}
.container4{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
#showdata img{
    width: 150px;
    height: 150px;
}
#ctname h3{
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #473038;
}
#ctprice h4{
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #473038;
}
#form1{
    font-size: 20px;
    margin-left: 40px;
}
#inputPassword2{
    font-size: 20px;
}
#btn5 button{
  font-size: 20px;
}
#flex1{
    display: flex;
    justify-content: space-between;
}
#ctnpric2 h4{
    font-size: 20px;
    color: #777167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
}
#subt h4{
    font-size: 20px;
    color: #777167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40px;
}
#flex2{
    display: flex;
    justify-content: space-between;
}
#subt1 h4{
    font-size: 20px;
    color: #777167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40px;  
}
#next h4{
    font-size: 20px;
    color: #777167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    margin-right: 30px;
}
#next1 h4{
    font-size: 20px;
    color: #777167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
}
#flex3{
    display: flex;
    justify-content: space-between;
    
}